body{
    background-color: rgb(56, 43, 43);
    align-content: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}
.cal{
    display: flex;
    flex-direction: column;
    border: 7px solid #13bbff; 
    border-radius: 11%;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    box-shadow: 0px 0px 20px #13bbff;
    background:#2d343f;
    cursor: pointer;
    transition: all .50s ease;
   width: fit-content;
   padding: 50px;

}
.cal label{
    color: burlywood;
    padding: 10px;
}
.buttons{
    padding: 10px;
    justify-content: space-between;
    align-content: center;
    
    
}
#b1,#b2,#b3,#b4{
    width: 35px;
    height: 35px;
    text-align: center;
    font-size: 18px;
    background-color: coral;
    border-width: 0;
    transition: 0.4s;
    border-radius: 5px;
    
    
    
}
#b1:hover,#b2:hover,#b3:hover,#b4:hover{
    cursor: pointer;
    transform: scale(1.2);
    font-size: 20px;
}
#number1,#number2{
    border-width: 1px;
    padding: 6px;
    border-radius: 5px;
    background-color:white;
    font-family: Georgia;
    font-size: 18px;
    text-align: center;

}
label{
    color: darkslategrey;
    font-family: Georgia;
    font-size: 18px;
}
#calbutton{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    height:35px ;
    width: 90px;
    font-family: Georgia;
    font-size: 15px;
    border-width: 0;
    background-color: darkslateblue;
    transition: 0.4s;
    border-radius: 5px;
    
}
#calbutton:hover{
    transform: scale(1.3);
    cursor: pointer;
}
#res{
    height: 50px;
    width: 150px;
    background-color: rosybrown;
    color: black;
    text-align: center;
    border-width: 0;
    border-radius: 5px;
    margin-bottom: 10px;

}